@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1:focus, h2:focus, h3:focus, h4:focus, h5:focus, h6:focus {
        outline: none;
    }

    body {
        font-family: 'Space Grotesk', sans-serif;
        background-image: url('../background.png');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: 0;
    }
}

/* Scrollbar Styling */
@layer utilities {
    #blazor-error-ui {
        display: none;
        background: #ffdbdb;
        bottom: 0;
        box-shadow: 0 -1px 2px rgba(0,0,0,0.2);
        left: 0;
        padding: 0.6rem 1.25rem 0.7rem 1.25rem;
        position: fixed;
        width: 100%;
        z-index: 1000;
        color: #842029;
    }

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

    * {
        scrollbar-width: thin;
        scrollbar-color: rgba(186, 93, 192, 0.3) transparent;
    }

    ::-webkit-scrollbar {
        width: 6px;
        height: 6px; /* for horizontal scrollbars if any */
        background: transparent;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: rgba(186, 93, 192, 0.3);
        border-radius: 20px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: rgba(186, 93, 192, 0.3) !important;
    }

    ::-webkit-scrollbar-thumb:active {
        background: #ba5dc0 !important;
    }

    ::-webkit-scrollbar-button {
        display: none;
    }
}
