# .NET
bin/
obj/
*.user
*.lock.json

# Visual Studio
.vs/
.vscode/
*.suo
*.user
*.sln.docstates

# Build artifacts
dist/
publish/

# Node
node_modules/
.npm/

# Generated CSS
**/wwwroot/css/app.min.css

# OS files
.DS_Store
Thumbs.db
